
.navbar {
    background-color: #fee4ff;
    padding: 10px 35px;
}

.main-content {

    display: flex;
    gap: 40px;

}

.side-bar {
    background-color: #faf7f7;
    width: 20%;
    margin: 0;
    padding: 15px 0;
}

.logo {
    font-family: 'Pacifico', cursive;
}
ul>li {
    list-style: none;
    margin-bottom: 10px;
    color: #424242;
    font-size: 20px;
    padding: 0 10px;

}

a {
    text-decoration: none;
}
.active{
    background-color: #E81AEF;
    padding: 10px;
}
.active a{
    color: white;
}
/* update profile */
.main{
    margin: 0;
    width: 70%;
}

/* Submit Request area */
.sub-reqs{
    margin: 20px;
}
.req{
    margin-bottom: 10px;
}
.req div{
    margin-bottom: 5px;
    font-size: 18px;
  
}
.req-flex{
    display: flex;
    gap: 7px;
}
.req-flex div{
    margin: 0;
    width: 47%;
}
input{
    width: 90%;
    padding: 10px;
}
